<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link 
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
        rel="stylesheet" 
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
        crossorigin="anonymous"
    >
    <link rel="stylesheet" href="/static/css/index.css">
    
    <title>LaBrincante</title>
</head>
<body>
    <header id="header"></header>

    <!--  New course modal -->
    <div class="modal fade" id="newCourseModal" tabindex="-1" aria-labelledby="newCourseModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="newCourseModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="newCourseForm">
                        <div class="mb-3 d-none">
                            <label for="id" class="form-label">Id</label>
                            <input type="number" class="form-control" id="id">
                        </div>
                        
                        <div class="mb-3">
                            <label for="name" class="form-label">Nome</label>
                            <input class="form-control" id="name" placeholder="Violão">
                        </div>
                        
                        <div class="mb-3">
                            <label for="value" class="form-label">Valor</label>
                            <div class="input-group mb-3">
                                <span class="input-group-text" id="basic-addon1">R$</span>
                                <input class="form-control" id="value" placeholder="R$ 100,00">
                              </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button id="submitButton" type="button" class="btn btn-primary" data-bs-dismiss="modal">Salvar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End of new course modal -->

    <!--  Delete Course Confirmation Modal -->
    <div class="modal fade" id="deleteCourseConfirmation">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteCourseTitle">Você tem certeza disso?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>
                        Este processo <strong>não</strong> poderá ser desfeito e ocasionará na remoção de todas as matrículas relacionadas a este curso. Prossiga com cautela.
                    </p>
                    <form id="deleteCourseForm">
                        <div class="mb-3 d-none">
                            <label for="id" class="form-label">Id</label>
                            <input type="number" class="form-control" id="id">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button id="confirmRemoval" type="button" class="btn btn-danger" data-bs-dismiss="modal">Excluir</button>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Delete Course Confirmation Modal -->

    <main class="container-md">
        <h1 id="pageHeading" class="mb-3">Cursos</h1>

        <section>
            <button id="modalBtn" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newCourseModal">
                Novo Curso
            </button>

            <div id="warning" class="alert d-flex align-items-center d-none my-2" role="alert">
                <strong></strong>
            </div>

            <div class="overflow-auto">
                <table class="table table-striped">
                    <thead>
                        <th class="text-center align-middle">Registro</th>
                        <th class="text-center align-middle">Nome</th>
                        <th class="text-center align-middle">Valor mensal</th>
                        <th class="text-center align-middle">Opções</th>
                    </thead>
                    <tbody id="coursesTableBody"></tbody>
                </table>
            </div>
        </section>
    </main>

    <script src="/static/js/courses/main.js" type="module"></script>
    <script 
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" 
        crossorigin="anonymous"
    ></script>
</body>
</html>